In [1]:
import pandas as pd
import pandasql as ps

In [2]:
df = pd.read_excel("/Users/monish/Downloads/Sem 2/Big Data/Project Proposal/Dataset/result/Final.xlsx")

In [3]:
df

,year,id_,Working Status,Marital Status,Age when married,divorce,Number of children,age,highest year of school completed,sex,...,coneduc,socommun,socfrend,wksub,unemployed in last 10 years,Pregnant as a reselt of rape,chldidel,sex education,divlaw,pre-marital sex
0,1972.0,1.0,Working full time,Never married,.i: Inapplicable,.i: Inapplicable,0,23,16,FEMALE,...,.i: Inapplicable,.i: Inapplicable,.i: Inapplicable,YES,.i: Inapplicable,YES,2,.i: Inapplicable,.i: Inapplicable,NOT WRONG AT ALL
1,1972.0,2.0,Retired,Married,21,NO,5,70,10,MALE,...,.i: Inapplicable,.i: Inapplicable,.i: Inapplicable,.i: Inapplicable,.i: Inapplicable,YES,3,.i: Inapplicable,.i: Inapplicable,ALWAYS WRONG
2,1972.0,3.0,Working part time,Married,20,NO,4,48,12,FEMALE,...,.i: Inapplicable,.i: Inapplicable,.i: Inapplicable,YES,.i: Inapplicable,YES,2,.i: Inapplicable,.i: Inapplicable,ALWAYS WRONG
3,1972.0,4.0,Working full time,Married,24,NO,0,27,17,FEMALE,...,.i: Inapplicable,.i: Inapplicable,.i: Inapplicable,YES,.i: Inapplicable,YES,2,.i: Inapplicable,.i: Inapplicable,ALWAYS WRONG
4,1972.0,5.0,Keeping house,Married,22,NO,2,61,12,FEMALE,...,.i: Inapplicable,.i: Inapplicable,.i: Inapplicable,.i: Inapplicable,.i: Inapplicable,YES,2,.i: Inapplicable,.i: Inapplicable,SOMETIMES WRONG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72386,2022.0,3542.0,Working full time,Married,.i: Inapplicable,YES,2,29,19,FEMALE,...,.i: Inapplicable,NEVER,SEV TIMES A YEAR,.x: Not available in this release,.i: Inapplicable,YES,As many as you want,Favor,.x: Not available in this release,NOT WRONG AT ALL
72387,2022.0,3543.0,Working full time,Never married,.i: Inapplicable,.i: Inapplicable,1,32,15,MALE,...,A GREAT DEAL,SEV TIMES A YEAR,SEV TIMES A YEAR,.x: Not available in this release,NO,.i: Inapplicable,4,Favor,.x: Not available in this release,NOT WRONG AT ALL
72388,2022.0,3544.0,Working full time,Married,.i: Inapplicable,NO,0,49,17,FEMALE,...,A GREAT DEAL,.i: Inapplicable,.i: Inapplicable,.x: Not available in this release,NO,YES,.i: Inapplicable,.i: Inapplicable,.x: Not available in this release,.i: Inapplicable
72389,2022.0,3545.0,Working full time,Married,.i: Inapplicable,NO,1,50,20,MALE,...,ONLY SOME,SEV TIMES A MNTH,SEV TIMES A MNTH,.x: Not available in this release,NO,.i: Inapplicable,.i: Inapplicable,Favor,.x: Not available in this release,NOT WRONG AT ALL
72390,NaN,NaN,0,0,45641,28006,16,226,0,19,...,23292,29101,29101,3544,25165,23099,26066,30636,3544,27485

In [4]:
df["year"]

0        1972.0
1        1972.0
2        1972.0
3        1972.0
4        1972.0
          ...
72386    2022.0
72387    2022.0
72388    2022.0
72389    2022.0
72390       NaN
Name: year, Length: 72391, dtype: float64

In [5]:
# Count the number of NaN values in each column
nan_count_per_year = df.isnull().sum()

In [6]:
nan_count_per_year

year                                1
id_                                 1
Working Status                      0
Marital Status                      0
Age when married                    0
divorce                             0
Number of children                  0
age                                 0
highest year of school completed    0
sex                                 0
 Family income when 16 yrs old      0
Total Family Income                 0
rincome                             0
natcrime                            0
happy                               0
health                              0
trust                               0
sathealt                            0
coneduc                             0
socommun                            0
socfrend                            0
wksub                               0
unemployed in last 10 years         0
Pregnant as a reselt of rape        0
chldidel                            0
sex education                       0
divlaw                              0
pre-marital sex                     0
dtype: int64

In [13]:
# Count the number of rows in each column
rows_per_column = df.count()

# Display the result
rows_per_column

year                                72390
id_                                 72390
Working Status                      72391
Marital Status                      72391
Age when married                    72391
divorce                             72391
Number of children                  72391
age                                 72391
highest year of school completed    72391
sex                                 72391
 Family income when 16 yrs old      72391
Total Family Income                 72391
rincome                             72391
natcrime                            72391
happy                               72391
health                              72391
trust                               72391
sathealt                            72391
coneduc                             72391
socommun                            72391
socfrend                            72391
wksub                               72391
unemployed in last 10 years         72391
Pregnant as a reselt of rape        72391
chldidel                            72391
sex education                       72391
divlaw                              72391
pre-marital sex                     72391
dtype: int64

In [9]:
# Count the number of 'inapplicable' values in each column
inapplicable_count_per_column = (df == '.i:  Inapplicable').sum()

In [10]:
inapplicable_count_per_column

year                                    0
id_                                     0
Working Status                          0
Marital Status                          0
Age when married                    45641
divorce                             28006
Number of children                     16
age                                   226
highest year of school completed        0
sex                                    19
 Family income when 16 yrs old      12776
Total Family Income                  2216
rincome                             25799
natcrime                            31471
happy                                4383
health                              17104
trust                               25688
sathealt                            48146
coneduc                             23292
socommun                            29101
socfrend                            29101
wksub                               29927
unemployed in last 10 years         25165
Pregnant as a reselt of rape        23099
chldidel                            26066
sex education                       30636
divlaw                              25116
pre-marital sex                     27485
dtype: int64

In [16]:
# Calculate the percentage of inapplicable values in each column
inapplicable_percentage_per_column = ((df == '.i:  Inapplicable').mean() * 100).round(2)

# Display the result
inapplicable_percentage_per_column

year                                 0.00
id_                                  0.00
Working Status                       0.00
Marital Status                       0.00
Age when married                    63.05
divorce                             38.69
Number of children                   0.02
age                                  0.31
highest year of school completed     0.00
sex                                  0.03
 Family income when 16 yrs old      17.65
Total Family Income                  3.06
rincome                             35.64
natcrime                            43.47
happy                                6.05
health                              23.63
trust                               35.49
sathealt                            66.51
coneduc                             32.18
socommun                            40.20
socfrend                            40.20
wksub                               41.34
unemployed in last 10 years         34.76
Pregnant as a reselt of rape        31.91
chldidel                            36.01
sex education                       42.32
divlaw                              34.69
pre-marital sex                     37.97
dtype: float64

In [33]:
# Define a list of patterns to be replaced with NaN
patterns_to_replace = ['\.d:.', '\.n:.', '\.i:.', '\.x:.']

# Use regular expressions to replace specified patterns with NaN
df.replace(patterns_to_replace, pd.NA, regex=True, inplace=True)

# Define a function to fill missing values based on column type
def fill_missing_values(column):
    if pd.api.types.is_numeric_dtype(column):
        return column.fillna(column.mean())
    else:
        return column.fillna(column.mode()[0] if not column.mode().empty else pd.NA)

# Apply the fill_missing_values function to each column
df = df.apply(fill_missing_values)

In [37]:
df.head(30)

,year,id_,Working Status,Marital Status,Age when married,divorce,Number of children,age,highest year of school completed,sex,...,coneduc,socommun,socfrend,wksub,unemployed in last 10 years,Pregnant as a reselt of rape,chldidel,sex education,divlaw,pre-marital sex
0,1972.0,1.0,Working full time,Never married,28,NO,0,23,16,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,2,Favor,More difficult,NOT WRONG AT ALL
1,1972.0,2.0,Retired,Married,21,NO,5,70,10,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,3,Favor,More difficult,ALWAYS WRONG
2,1972.0,3.0,Working part time,Married,20,NO,4,48,12,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,2,Favor,More difficult,ALWAYS WRONG
3,1972.0,4.0,Working full time,Married,24,NO,0,27,17,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,2,Favor,More difficult,ALWAYS WRONG
4,1972.0,5.0,Keeping house,Married,22,NO,2,61,12,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,2,Favor,More difficult,SOMETIMES WRONG
5,1972.0,6.0,Working full time,Never married,22,NO,0,26,14,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,3,Favor,More difficult,SOMETIMES WRONG
6,1972.0,7.0,Working full time,Divorced,22,NO,2,28,13,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,4,Favor,More difficult,NOT WRONG AT ALL
7,1972.0,8.0,Working full time,Never married,22,NO,0,27,16,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,2,Favor,More difficult,SOMETIMES WRONG
8,1972.0,9.0,Working part time,Never married,22,NO,2,21,12,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,2,Favor,More difficult,NOT WRONG AT ALL
9,1972.0,10.0,Working full time,Married,19,NO,4,30,12,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,4,Favor,More difficult,ALWAYS WRONG
10,1972.0,11.0,Keeping house,Married,25,NO,1,30,13,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,4,Favor,More difficult,ALWAYS WRONG
11,1972.0,12.0,Working full time,Married,17,NO,5,56,6,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,NO,5,Favor,More difficult,ALWAYS WRONG
12,1972.0,13.0,Working full time,Married,21,NO,1,54,9,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,NO,2,Favor,More difficult,NOT WRONG AT ALL
13,1972.0,14.0,Working full time,Divorced,18,NO,2,49,8,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,NO,NO,YES,2,Favor,More difficult,NOT WRONG AT ALL
14,1972.0,15.0,Working full time,Married,16,NO,5,41,9,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,NO,2,Favor,More difficult,ALWAYS WRONG
15,1972.0,16.0,Working full time,Married,24,YES,2,54,14,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,NO,NO,YES,4,Favor,More difficult,ALMST ALWAYS WRG
16,1972.0,17.0,In school,Married,18,NO,2,24,14,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,NO,2,Favor,More difficult,ALWAYS WRONG
17,1972.0,18.0,Keeping house,Married,16,YES,3,62,8,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,3,Favor,More difficult,ALWAYS WRONG
18,1972.0,19.0,Working full time,Married,20,NO,3,46,17,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,3,Favor,More difficult,NOT WRONG AT ALL
19,1972.0,20.0,In school,Never married,20,NO,0,21,14,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,4,Favor,More difficult,SOMETIMES WRONG
20,1972.0,21.0,Working full time,Married,26,NO,2,57,12,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,NO,NO,YES,2,Favor,More difficult,ALWAYS WRONG
21,1972.0,22.0,Working full time,Married,18,NO,2,58,11,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,2,Favor,More difficult,SOMETIMES WRONG
22,1972.0,23.0,Working full time,Married,19,NO,0,21,13,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,1,Favor,More difficult,SOMETIMES WRONG
23,1972.0,24.0,Keeping house,Married,20,NO,1,26,12,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,3,Favor,More difficult,SOMETIMES WRONG
24,1972.0,25.0,Keeping house,Married,30,NO,0,71,16,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,3,Favor,More difficult,ALMST ALWAYS WRG
25,1972.0,26.0,Working full time,Married,18,NO,2,53,12,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,4,Favor,More difficult,ALMST ALWAYS WRG
26,1972.0,27.0,Working full time,Married,18,NO,2,42,12,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,2,Favor,More difficult,ALWAYS WRONG
27,1972.0,28.0,Working full time,Married,17,NO,2,42,12,FEMALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,YES,4,Favor,More difficult,SOMETIMES WRONG
28,1972.0,29.0,Working full time,Married,19,NO,0,20,12,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,NO,3,Favor,More difficult,NOT WRONG AT ALL
29,1972.0,30.0,Working full time,Married,16,NO,2,23,9,MALE,...,ONLY SOME,NEVER,ONCE A MONTH,YES,NO,NO,2,Favor,More difficult,SOMETIMES WRONG

In [38]:
count_Favor = (df['sex education'] == 'Favor').sum()

In [39]:
count_Favor

64900

In [40]:
columns_to_remove = ['Age when married', ' Family income when 16 yrs old', 'rincome', 'natcrime', 'sathealt', 'chldidel', 'socommun', 'socfrend', 'wksub', 'divlaw']

# Remove the specified columns
df = df.drop(columns=columns_to_remove, errors='ignore')

In [41]:
df

,year,id_,Working Status,Marital Status,divorce,Number of children,age,highest year of school completed,sex,Total Family Income,happy,health,trust,coneduc,unemployed in last 10 years,Pregnant as a reselt of rape,sex education,pre-marital sex
0,1972.0,1.0,Working full time,Never married,NO,0,23,16,FEMALE,"$25,000 or more",Not too happy,Good,Depends,ONLY SOME,NO,YES,Favor,NOT WRONG AT ALL
1,1972.0,2.0,Retired,Married,NO,5,70,10,MALE,"$25,000 or more",Not too happy,Fair,Can trust,ONLY SOME,NO,YES,Favor,ALWAYS WRONG
2,1972.0,3.0,Working part time,Married,NO,4,48,12,FEMALE,"$25,000 or more",Pretty happy,Excellent,Can't be too careful,ONLY SOME,NO,YES,Favor,ALWAYS WRONG
3,1972.0,4.0,Working full time,Married,NO,0,27,17,FEMALE,"$25,000 or more",Not too happy,Good,Can't be too careful,ONLY SOME,NO,YES,Favor,ALWAYS WRONG
4,1972.0,5.0,Keeping house,Married,NO,2,61,12,FEMALE,"$25,000 or more",Pretty happy,Good,Can't be too careful,ONLY SOME,NO,YES,Favor,SOMETIMES WRONG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72386,2022.0,3542.0,Working full time,Married,YES,2,29,19,FEMALE,"$25,000 or more",Pretty happy,Good,Can't be too careful,ONLY SOME,NO,YES,Favor,NOT WRONG AT ALL
72387,2022.0,3543.0,Working full time,Never married,YES,1,32,15,MALE,"$25,000 or more",Pretty happy,Good,Can trust,A GREAT DEAL,NO,YES,Favor,NOT WRONG AT ALL
72388,2022.0,3544.0,Working full time,Married,NO,0,49,17,FEMALE,"$25,000 or more",Very happy,Good,Can trust,A GREAT DEAL,NO,YES,Favor,NOT WRONG AT ALL
72389,2022.0,3545.0,Working full time,Married,NO,1,50,20,MALE,"$25,000 or more",Pretty happy,Fair,Can trust,ONLY SOME,NO,YES,Favor,NOT WRONG AT ALL
72390,2022.0,3545.0,0,0,28006,16,226,0,19,2216,4383,17104,25688,23292,25165,23099,30636,27485